@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.mobile-header {
  display: none;
  background: var(--background-light);
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-lg) var(--spacing-xl);
//   @include flex-between;

  @include tablet {
    display: flex;
  }

  @include mobile {
    padding: var(--spacing-md) var(--spacing-lg);
  }

  .mobile-menu-btn {
    @include button-reset;
    color: var(--primary-color);
  }

  .mobile-logo {
    // @include flex-align;
    gap: var(--spacing-sm);

    &-icon {
      width: var(--spacing-xl);
      height: var(--spacing-xl);
      background: var(--secondary-color);
      border-radius: 50%;
      @include flex-center;
      color: var(--white);
      font-weight: var(--font-semibold);
      font-size: var(--spacing-md);
    }

    &-text {
      font-size: 18px;
      font-weight: var(--font-semibold);
      color: var(--primary-color);
    }
  }

  .mobile-actions {
    // @include flex-align;
    gap: var(--spacing-md);

    .mobile-avatar {
    //   @include avatar(32px, 12px);
    }
  }
}
